.cards {
    width: 290px;
    height: 354px;
    padding: .8em;
    background: #e0e0e0;
    border-radius: 10px;
    position: relative;
    overflow: visible;
    transition: .3s ease;
    box-shadow: 15px 15px 30px #bebebe,
            -15px -15px 30px #ffffff;
}

.cards-img {
    background-color: peru;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
    position: relative;
   
}

.cards-info {
    padding-top: 20px;
}

svg {
    width: 20px;
    height: 20px;
}

.cards-footer {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid peru;
}

/*Text*/
.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: .1;
}
.blob{
    background-color:#fac5a1;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    text-align: center;
    margin: 0px auto;
    transition: .1s ease-out;
}


.text-body {
    font-size: .9em;
    line-height: 1;
    /* padding-bottom: 10px; */
}
.details-button{
    border: 1px solid peru;
        width: 100px;
        height: 40px;
        padding: .3em;
        cursor: pointer;
        border-radius: 30px;
        transition: .3s ease-in-out;
}
/*Button*/
.cards-button {
    border: 1px solid peru;
    display: flex;
    width: 40px; 
    height: 40px; 
     padding: .3em;
    cursor: pointer;
    border-radius: 30px;
    transition: .3s ease-in-out;
}

/*Hover*/
.cards-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.cards-img:hover .blob {
    position: absolute;
    left: 90px;
    bottom: 90px;
    
}
.cards-button:hover {
    border: 1px solid #ffcaa6;
    background-color: peru;
}
.details-button:hover {
    border: 1px solid #ffcaa6;
        background-color: peru;
}